{% extends 'red_letter_day/layout.html' %}

{% block title %}Ұлттық мерекелер{% endblock %}

{% block content%}  
    <div style="width: 90%; margin: 60px auto; font-family:Arial, Helvetica, sans-serif;">  
        <div style="text-align: center; margin-bottom: 40px;"><i>Ұлттық мерекелер</i></div>      
        <div style="padding-bottom: 50px;">
            Ұлттық мерекелер - Қазақстан мемлекеттілігінің дамуына елеулі ықпал еткен, ерекше тарихи маңызы бар оқиғалардың құрметіне Қазақстан Республикасында белгіленген мерекелер. Ұлттық мерекелерді мейрамдау кезінде орталық және жергілікті мемлекеттік органдарда ресми іс-шаралар өткізіледі.<br>
            Қазақстан Республикасындағы мерекелер туралы Қазақстан Республикасының 2001 жылғы 13 желтоқсандағы N 267-ІІ Заңында 2-бабында Ұлттық мерекелерге Қазақстан Республикасындағы Ұлттық мереке - 16-17 желтоқсанда атап өтілетін 16-желтоқсан - Тәуелсіздік күні деп жазылған. 5-бапта. Мереке күндері туралы Қазақстан Республикасындағы ұлттық және мемлекеттік мерекелер атап өтілетін күндер Қазақстан Республикасының еңбек заңдарына сәйкес мереке күндері деп танылады. Қазақстан Республикасындағы мереке күндері жұмыс істемейтін күндер болып табылады. Демалыс және мереке күндері сәйкес келген жағдайда мерекеден кейінгі жұмыс күні демалыс күні болады.
        </div>
        
        {% for i in info %}
        <p style="margin-top: 40px;">
            Мерекe атауы: <b>{{ i.title }}</b>
        </p>
        {{ i.anons }}
        <p>Тойланатын уақытысы: <b>{{ i.on_date }}</b></p>
        <hr>
        {% endfor %}
    </div>
{% endblock %}