{% extends 'red_letter_day/layout.html' %}

{% block title %}Кәсіби мерекелер{% endblock %}

{% block content%}  
    <div style="width: 90%; margin: 60px auto; font-family:Arial, Helvetica, sans-serif;">  
        <div style="text-align: center; margin-bottom: 40px;"><i>Кәсіби мерекелер</i></div>      
        <div style="padding-bottom: 50px;">
            Кеңес одағы кезінде мұндай мерекелер барысында еңбек ұжымдары арасында жарыстар ұйымдастырылатын. Егер Совет одағы кезінде жарыста ұтып шыққан ұжым мүшелеріне құрмет қағаздары берілсе, қазір бағалы сыйлықтар берілетін болды.
            Бірақ, Қазақстандағы кәсіподақ өкілдері мұндай мерекелерді заңдастыру керек деген пікірді ұстанды. Осылайша, әлеуметтік серіктестік жөніндегі республикалық 3 жақты комиссия кәсіподақтардың кәсіби мереке күндері ретінде берген мерекелер тізімін құптады. Бірақ, кейбір кәсіби одақ мүшелері бұл тізімді ұзарту керек деген пікірде.
            Қазақстан күнтізбесінде ресми 8 мереке жазылған. Бірақ, жыл сайын ол мерекелерге қосымша бір-екі күн қосылып отырады. Оның сыртында, көптеген кәсіпорындарда 40 кәсіби мереке аталады. Кейбір экономистердің пікірінше жыл сайын еңбеккерлердің бір айға жуық уақыттарын жұмыс істемей, тойлаумен өткізуі Қазақстан экономикасына кесірін тигізіп келеді.
        </div>
        
        {% for i in info %}
        <p style="margin-top: 40px;">
            Мерекe атауы: <b>{{ i.title }}</b>
        </p>
        {{ i.anons }}
        <p>Тойланатын уақытысы: <b>{{ i.on_date }}</b></p>
        <hr>
        {% endfor %}
    </div>
{% endblock %}