{% extends 'red_letter_day/layout.html' %}

{% block title %}Мемлекеттік мерекелер{% endblock %}

{% block content%}  
    <div style="width: 90%; margin: 60px auto; font-family:Arial, Helvetica, sans-serif;">  
        <div style="text-align: center; margin-bottom: 40px;"><i>Мемлекеттік мерекелер</i></div>      
        <div style="padding-bottom: 50px;">
            Мереке – адамдарды бір-бірімен жақындастыратын жарқын сәт, жақсы себеп. 15 мемлекеттің басын біріктірген Кеңес заманында барлық ұлтты ынтымақтастырған да жалпыхалықтық мерекелер. Кеңес үкіметінің арнайы мерекелерді атап өту жөніндегі жарғысынан кейін қоғамның барлық саласында үлкен өзгерістер пайда болды. Аталған өзгерістер жаңа кеңестік мәдениеттің қалыптасуына алып келді. Мәдени төңкеріс мемлекеттік саясаттың бір бөлігі ретінде Кеңестік, оның ішінде Қазақстандағы сауатсыздықты жоюға, кеңес зиялы қауымын құруға, жаңа мәдениет, өнер, әдебиетті қалыптастыруға ықпалы зор болды. Әсіресе Қазақстанда рухани өмір жанданды. Біртіндеп революциялық мерекелер пайда бола бастады, одан өзге әскери-патриоттық және еңбек мерекелерін атап өту дәстүрге айналды.
        </div>
        
        {% for i in info %}
        <p style="margin-top: 40px;">
            Мерекe атауы: <b>{{ i.title }}</b>
        </p>
        {{ i.anons }}
        <p>Тойланатын уақытысы: <b>{{ i.on_date }}</b></p>
        <hr>
        {% endfor %}
    </div>
{% endblock %}